*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #edf2fd;
}
.logo{
    width: 200px;
    margin-left: 8%;
}
nav{
    display: flex;
    width: 84%;
    padding: 20px 0;
    align-items: center;
    justify-content: left;
    left: 90%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ff4b5a;
}
.detel{
    margin: 8% 0 0 8%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom:20px ;
}
span{
    color: #531fb3;
}
.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
        }
.image img{
    height: 100%;
    position: absolute;
    left: 70%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}
.image:hover .boy{
    left: 45%;
}

/* about me */

#about {
    padding: 60px 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;

}

.about-col-2 {
    flex-basis: 60%;

}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.about-col-2  span {
    color: #531fb3;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after {
    content: '';
    width: 0;
    height: 3px;
    background: #531fb3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.activelink::after {
    width: 50px;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: rgb(9, 53, 185);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*---------portfolio-------*/


#portfolio {
    padding: 50px 0;
    background: #edf2fd;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #531fb3);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:  0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #531fb3;
    text-decoration: none;
    font: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}
